.DS_Store
node_modules

# Terraform state files
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json

# Terraform crash log files
crash.log

# Terraform provider override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform module directories
.terraform/

# Local .terraform directories
**/.terraform/*

# Do not ignore the lock file
# .terraform.lock.hcl

# Local environment & config files
.env

# Helm chart dependencies
charts/
